@model HotelProject.RapidApi.Models.TripAdvisorViewModels
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Resim</th>
                <th>Ad</th>
                <th>Ortalama Puan</th>
                <th>Kullanıcı Yorum Sayısı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><img src="@Model.HeroImgUrl" alt="@Model.Name" style="width: 150px; height: auto;" /></td>
                <td>@Model.Name</td>
                <td>@Model.AverageRating</td>
                <td>@Model.UserReviewCount</td>
            </tr>
        </tbody>
    </table>
</div>
